<section id="decorate-section">
    {{#with room}}
    <h1 class="item">{{name}}</h1>
    <div class="item padded">

        <main class="layout right large">

            <div class="col">

                <img src="{{imgUrl}}" class="img-large">

            </div>

            <div class="content pad-med">
             
             <p>Facilities:</p>

            </div>
        </main>
    </div>
    {{/with}}
</section>