<section id="create-section" class="">
    <h1 class="item">Register</h1>
  <div class="padded">
    <main class="item align-center">

        <form class="layout left large" method="post" action="/auth/register">
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                <p>{{msg}}</p>
                {{/each}}
            </div>
            {{/if}}
            <div class="aligned">
                <label><span>Username</span><input {{#if username}}class="field-error"{{/if}} type="text" name="username" value="{{body.username}}"></label>
                <label><span>Password</span><input   {{#if password}}class="field-error"{{/if}} type="password" name="password"></label>
                <label><span>Repeat Password</span><input  {{#if repass}}class="field-error" {{/if}}type="password" name="repass"></label>
            </div>
            <input class="cta action" type="submit" value="Register"> 

        </form>

    </main>
   <footer class="align-center">Already have an account? <a href="/auth/login">Sign in here</a></footer>
   </div>
</section>